<%=page_heading('New Group')%>
<%=form_for @group, url: new_group_path, method: :post do |t|%>

<%=render "shared/error_messages", object: t.object%>
<div class="form-field ">
    <div class="picture d-flex  align-items-center">
        <%= image_tag "icons/user_avatar.svg", alt: "Groups", class: "profile-image", id: "target"%>
        <p class="pl-3">Upload a picture</p>
        <%= t.file_field :icon, accept: 'image/jpeg,image/gif,image/png', id: "user_avatar" %>
    </div>

</div>

<div class="form-field ">
    <%=t.text_field :name, placeholder: "Group name"%>
</div>

<div class="form-button">
    <%=t.submit "Create new group", class: "submit"%>
</div>

<%end%>