<%=page_heading('Time spends')%>
<%=form_for @time_spent, url: new_time_spent_path, method: :post do |t|%>

<%=render "shared/error_messages", object: t.object%>
<div class="time-spend">
    <h3 class="mb-3">Log your time spenditure</h3>


    <div class="form-field ">

        <%=t.text_field :name, placeholder: "Time spent"%>
    </div>
    <div class="form-field ">
        <%=t.number_field :amount, placeholder: "Amount", step: :any%>
    </div>

    <div class="custom-select">
        <%=t.collection_select :groups, Group.all.order(:name),:id,:name, include_blank: :true %>
    </div>

    <div class="form-button">
        <%=t.submit "Submit time spent" , class: "submit"%>
    </div>

    <%end%>
</div>