<%=page_heading('Sign In')%>
<%=form_for @user, url: signup_path, method: :post do |u|%>

<%=render "shared/error_messages", object: u.object%>


<div class="form-field ">
    <div class="picture d-flex  align-items-center">
        <%= image_tag "icons/user_avatar.svg", alt: "Groups", class: "profile-image", id: "target"%>
        <p class="pl-3">Upload a picture</p>
        <%= u.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
</div>

<div class="form-field ">

    <%=u.text_field :name, placeholder: "Full name"%>

</div>



<div class="form-button">
    <%=u.submit "Sign up!", class: "submit"%>
</div>


<%end%>